@model Match;

<h1>Detale meczu</h1>

<p><a asp-controller="Match" asp-action="LastMatchesWithOpponent" asp-route-opponentName="@Model.Enemy">Ostatnie mecze z przeciwko temu zespołowi</a></p>

<p>ID meczu: @Model.Id</p>
<p>Wróg: @Model.Enemy</p>
<p>Miejsce: @Model.Place</p>
<p>Kategoria wiekowa: @Model.AgeCategory</p>
<p>Data meczu: @Model.DateOfMatch</p>
<p>Godzina rozpoczęcia: @Model.StartMatch</p>
<p>Wynik: @Model.Score</p>
<p>Status meczu: @Model.MatchStatus</p>
<p>Gospodarz meczu: @Model.MatchHost</p>
<p>Rodzaj meczu: @Model.TypeOfMatch</p>

@if(@Model.MainCoach != null)
{
    <h2>Trener</h2>
    <p>@Model.MainCoach.Name</p>
}
else
{
    <p>Brak wpisanego trenera</p>
}

<h2>Podstawowa jedenastka</h2>
<ul>
@foreach (var player in Model.PrimaryMatchPlayers)
{
    <li>@player.Footballer.Name @player.Footballer.LastName</li>
}
</ul>

<h2>Rezerwa</h2>
<ul>
@foreach (var player in Model.SubstituteMatchPlayers)
{
    <li>@player.Footballer.Name @player.Footballer.LastName</li>
}
</ul>
