@model IEnumerable<Account>

<div>
    <h1>Lista kont</h1>
    <p><a asp-controller="home" asp-action="index">Powrót</a></p>
</div>
@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger ">
        @TempData["Alert"]
    </div>
}

<form method="get" asp-controller="UserManagement" asp-action="ShowAccounts">
    <div>
        <div>
            <label>Po roli</label>
            <select name="filterRole">
                <option value="Player" selected="@(ViewBag.FilterRole == "Player" ? true : false)">Gracze</option>
                <option value="Coach" selected="@(ViewBag.FilterRole == "Coach" ? true : false)">Trenerzy</option>
                <option value="Admin" selected="@(ViewBag.FilterRole == "Admin" ? true : false)">Administratorzy</option>
                <option value="all" selected="@(ViewBag.FilterRole == "all" ? true : false)">Wszystkie</option>
            </select>
        </div>
        <button type="submit">Filtruj</button>
    </div>
</form>

<table>
    <thead>
        <tr>     
            <th>@Html.DisplayNameFor(n => n.AccountName)</th>
            <th>@Html.DisplayNameFor(n => n.Role)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in @Model)
        {
            <tr>
                <td>@obj.AccountName</td>
                <td>@obj.Role</td>
                <td>
                    <a class="nav-link text-dark" asp-controller="UserManagement" asp-action="RemoveAccount" asp-route-id="@obj.Id" asp-route-filterRole="@ViewBag.FilterRole">Usuń konto</a>
                </td>
            </tr>
        }
    </tbody>
</table>