@model GroupTraining;

<style>
    button, .fields {
        display: block;
    }
</style>

@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger ">
        @TempData["Alert"]
    </div>
}

<div>
    <h2>Dodaj trening grupowy</h2>
    <p>
        <a asp-controller="GroupTraining" asp-action="showGT" asp-route-filterCategory="@ViewBag.FilterCategory">
            Powrót
        </a>
    </p>
</div>

<div>
    <form method="get" asp-action="PrepareToAddGT">
        <label>Wybierz pozycje zawodników do dodania</label>
        <select name="filterPosition">
            <option value="all" selected="@(ViewBag.FilterPosition == "all" ? true : false)">Wszyscy</option>
            <option value="goalkeeper" selected="@(ViewBag.FilterPosition == "goalkeeper" ? true : false)">Bramkarze</option>
            <option value="defender" selected="@(ViewBag.FilterPosition == "defender" ? true : false)">Obrońcy</option>
            <option value="helper" selected="@(ViewBag.FilterPosition == "helper" ? true : false)">Pomocnicy</option>
            <option value="attacker" selected="@(ViewBag.FilterPosition == "attacker" ? true : false)">Napastnicy</option>
        </select>

        <input type="hidden" name="filterCategory" value="@ViewBag.FilterCategory" />

        <button type="submit">Filtruj zawodników</button>
    </form>
</div>

<div>
    <form method="post" asp-action="AddGT">

        <button type="submit">Dodaj trening grupowy</button>

        <input type="hidden" name="filterCategory" value="@ViewBag.FilterCategory" />
        <input type="hidden" name="filterPosition" value="@ViewBag.FilterPosition" />

        <div class="fields">
            <label asp-for="Title">Tytuł</label>
            <input type="text" asp-for="Title" />
        </div>
        <div class="fields">
            <label asp-for="Description">Opis</label>
            <input type="text" asp-for="Description" />
        </div>
        <div class="fields">
            <label asp-for="Place">Miejsce</label>
            <input type="text" asp-for="Place" />
        </div>
        <div class="fields">
            <label asp-for="DateOfTraining">Data treningu</label>
            <input type="date" asp-for="DateOfTraining" />
        </div>
        <div class="fields">
            <label asp-for="StartTraining">Godzina rozpoczęcia</label>
            <input type="time" asp-for="StartTraining" />
        </div>
        <div class="fields">
            <label asp-for="EndTraining">Godzina zakończenia</label>
            <input type="time" asp-for="EndTraining" />
        </div>

        <div>
            @{
                string ageCategoryName;
                if (ViewBag.FilterCategory == "firstTeam")
                    ageCategoryName = "Seniorzy";
                else if (ViewBag.FilterCategory == "reserves")
                    ageCategoryName = "Rezerwy";
                else if (ViewBag.FilterCategory == "juniors")
                    ageCategoryName = "Juniorzy";
                else
                    ageCategoryName = "Wszyscy";
            }
            <label asp-for="AgeCategory">Kategoria wiekowa:</label>
            <select asp-for="AgeCategory">
                <option value="@ViewBag.FilterCategory">@ageCategoryName</option>
            </select>
        </div>

        <div class="form-group">
            <label>Trenerzy</label>
            @foreach (var coach in ViewBag.Coaches)
            {
                <div>
                    <input type="checkbox" name="selectedCoaches" value="@coach.Id" id="@coach.Id" />
                    <label for="@coach.Id">@coach.Name @coach.LastName - @coach.KindOfCoach </label>
                </div>
            }
        </div>

        <div class="form-group">
            <label>Piłkarze</label>
            @foreach (var footballer in ViewBag.Footballers)
            {
                <div>
                    <input type="checkbox" name="selectedPlayers" value="@footballer.Id" id="@footballer.Id" checked />
                    <label for="@footballer.Id">@footballer.Name @footballer.LastName - @footballer.AgeCategory</label>
                </div>
            }
        </div>
    </form>
</div>